.postCard {
    display: flex;
    flex-flow: column;
  
    background-color: var(--card-bg);
    border: 1px solid var(--card-border);

    padding: 1em 2em;
  
    border-radius: 2px;
    box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.15)
}

.postCard:focus-within {
    border: 1px solid hsl(0, 0%, 55%);
}

.postCard .postDate {
    opacity: 0.8;
    font-size: small;
    margin-left: auto;
}

.postCard .cta {
    margin-top: auto;

    background: var(--cta-bg);
    color: var(--cta-fg);

    padding: 0.9em 0.8em;

    width: max-content;

    border-radius: 4px;


    transition: background-color 150ms ease-out;
}

.postCard .cta:hover {
    background: var(--cta-bg-hover);
}

.postCard .cta:focus-visible {
    outline: 2px solid var(--cta-bg-hover);
    outline-offset: 2px;
}